Library/ShaderCache/
Library/
Temp/StagingArea/assets/bin/Data/Resources/unity_builtin_extra
Temp/
HelloUnityStandalone_Data/
obj/
android_build.apk
*.sln

Temp/
Library/

ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*~
